body {}

/*LAYOUT*/

body {
    background-image: url(bilder/lithuania-101386_1920.jpg);
    max-width: 100%;
    background-image: 1000px;
    display: grid;
    min-height: 100vh;
    background-attachment: fixed;
}